<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.4/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/origoni-startbootstrap-clean-blog/1.0.3/css/clean-blog.min.css">
    <link rel="stylesheet" href="/webjars/pen/0.2.2/src/pen.css"/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HOME</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/post">Post</a>
                </li>
                <li>
                    <a href="#about.html">About</a>
                </li>
                <li>
                    <a href="/post/write">Write Post</a>
                </li>
                <li>
                    <a href="#contact.html">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header"
        style="background-image: url('http://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <hr class="small">
                    <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form action="#if(${post.id})/post/${post.id}/modify#else/post/write#end"
                  method="post" onsubmit="$('#content').val($('#pen').html()); pen.destroy();">
            #* todo: need replace '"'(double-quotation) to '\"' in post.title *#
                <input type="text" name="title" placeholder="title" #if(${post.id})value="${post.title}"#end
                       style="height: 70px; width: 100%; font-size: 55px;
			border: none; border-right: 0px; border-top: 0px; boder-left: 0px; boder-bottom: 1px; outline-style: none;
			font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 800;">

                <input type="text" name="subtitle" placeholder="Subtitle (option)"
                       #if(${post.id})value="${post.subtitle}"#end
                       style="height: 60px; width: 100%; font-size: 24px;
			border: none; border-right: 0px; border-top: 0px; boder-left: 0px; boder-bottom: 1px; outline-style: none;
			font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600;"/>

                <input type="hidden" name="content" id="content" #if(${post.id})value="${post.content}"#end>

                <hr style="margin-top: 2px; border-top: 1px solid #999;">

                <div id="custom-toolbar" class="pen-menu" style="display: block; margin:0 auto; position: relative;">
                    <i class="pen-icon icon-insertimage" data-action="insertimage"></i>
                    <i class="pen-icon icon-blockquote" data-action="blockquote"></i>
                    <i class="pen-icon icon-h1" data-action="h1"></i>
                    <i class="pen-icon icon-h2" data-action="h2"></i>
                    <i class="pen-icon icon-h3" data-action="h3"></i>
                    <i class="pen-icon icon-p active" data-action="p"></i>
                    <i class="pen-icon icon-code" data-action="code"></i>
                    <i class="pen-icon icon-insertorderedlist" data-action="insertorderedlist"></i>
                    <i class="pen-icon icon-insertunorderedlist" data-action="insertunorderedlist"></i>
                    <i class="pen-icon icon-inserthorizontalrule" data-action="inserthorizontalrule"></i>
                    <i class="pen-icon icon-indent" data-action="indent"></i>
                    <i class="pen-icon icon-outdent" data-action="outdent"></i>
                    <i class="pen-icon icon-bold" data-action="bold"></i>
                    <i class="pen-icon icon-italic" data-action="italic"></i>
                    <i class="pen-icon icon-underline" data-action="underline"></i>
                    <i class="pen-icon icon-createlink" data-action="createlink"></i>
                </div>

                <div data-toggle="pen" data-placeholder="Content" id="pen"
                     style="min-height: 200px;">#if(${post.id})${post.content}#end</div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">저장</button>
            </form>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </div>
</footer>

<div id="scripts">
    <script src="/webjars/jquery/3.0.0-rc1/dist/jquery.min.js"></script>
    <script src="/webjars/pen/0.2.2/src/pen.js"></script>
    <script src="/webjars/pen/0.2.2/src/markdown.js"></script>
    <script type="text/javascript">
        var pen = new Pen({
            toolbar: document.getElementById('custom-toolbar'),
            editor: document.querySelector('[data-toggle="pen"]')
        });
    </script>
</div>
</body>
</html>
